@model List<MovieAndCustomerManager.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>
@if (Model.Count == 0)
{
    <h3>We don't have any customers yet.</h3>
}
else
{
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(customer.Name, "Edit", "Customer", new { id = customer.Id }, null)
                    </td>
                    <td>
                        @customer.MenbershipType.Name
                    </td>
                </tr>
            }
            @*@for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.ActionLink(Model[i].Name, "Edit", "Customer", new { id = i }, null)
                    </td>
                    <td>
                        @Model[i].MenbershipType.Name
                    </td>
                </tr>
            }*@
        </tbody>

    </table>
}




