@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Address line 1<br />
    Address line 2<br />
    <abbr title="Phone">Phone:</abbr>
    04XXXXXXX
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">XXX@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">XXX@example.com</a>
</address>