<appSettings>
  <add key="FacebookAppId" value="1833407823618045"/>
  <add key="FacebookAppSecret" value="d15610a053e9647ca25133e361e25bf8"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>