<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MovieAndCustomerManager-20171115012242.mdf;Initial Catalog=aspnet-MovieAndCustomerManager-20171115012242;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>